@model thuvienso.Models.Document
@{
    ViewData["Title"] = Model.Title;
    Layout = "~/Views/Shared/User/_Layout.cshtml";

    var newest = (List<thuvienso.Models.Document>)ViewBag.NewestDocs;
    var popular = (List<thuvienso.Models.Document>)ViewBag.PopularDocs;
	DateTime createdAtVn = Model.CreatedAt;
}

<section class="bg-white pb-60">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumbs bg-light mb-4">
                    <li class="breadcrumbs__item">
                        <a class="breadcrumbs__url" href="index.html">
                            <i class="fa fa-home"></i> Trang chủ
                        </a>
                    </li>
                    <li class="breadcrumbs__item breadcrumbs__item--current">
                        @Model.Category.Name
                    </li>
                </ul>
            </div>

        </div>
        <div class="row">
            <div class="col-md-8">

                <div class="wrap__article-detail">
                    <div class="wrap__article-detail-image">
                        <div class="social__media__animation">
                            <ul class="menu topLeft bg__card-shadow">
                                <li class="share bottom">
                                    <i class="fa fa-share-alt btn-toast"
                                        data-noti="Đã copy đường dẫn xem tài liệu"
                                        data-copy="@($"{Context.Request.Scheme}://{Context.Request.Host}/document/{Model.Id}")"
                                        data-type="success"></i>
                                </li>
                                @if (Model.IsFree || (ViewBag.PercentPaid != null))
                                {
                                    <li class="share bottom">
                                        <i class="fa fa-download btn-toast"
                                           data-download="/document/download/@Model.Id"
                                           data-noti="Đang tải xuống tài liệu"
                                           data-type="success"></i>
                                    </li>
                                }

                                @if (!Model.IsFree && Convert.ToDecimal(ViewBag.PercentPaid ?? 0) < 100)
                                {
                                    <li class="share bottom">
                                        <i class="fa fa-cart-arrow-down btn-checkout" style="cursor: pointer;" title="Thanh toán"></i>
                                    </li>
                                }
                            </ul>
                        </div>
                        <figure>
                            <iframe id="pdf-viewer"
                                    src="/pdfjs/web/viewer.html?file=@ViewBag.FileToRender"
                                    width="100%" height="600px" style="border:none;"></iframe>

                            @if (!Model.IsFree)
                            {
                                if (Convert.ToDecimal(ViewBag.PercentPaid ?? 0) == 0)
                                {
                                    <div class="alert alert-warning mt-3">
                                        <strong>Bạn đang xem bản preview (3 trang).</strong><br />
                                        Vui lòng thanh toán để truy cập đầy đủ nội dung.
                                    </div>
                                }
                                else if (Convert.ToDecimal(ViewBag.PercentPaid ?? 0) > 0 && Convert.ToDecimal(ViewBag.PercentPaid ?? 0) < 100)
                                {
                                    <div class="alert alert-info mt-3">
                                        <strong>Bạn đã thanh toán @Convert.ToDecimal(ViewBag.PercentPaid ?? 0)% tài liệu này.</strong><br />
                                        Đây là bản được tạo riêng theo phần trăm thanh toán của bạn.
                                    </div>
                                }
                                else if (Convert.ToDecimal(ViewBag.PercentPaid ?? 0) >= 100)
                                {
                                    <div class="alert alert-success mt-3">
                                        <strong>Bạn đã thanh toán toàn bộ tài liệu này.</strong><br />
                                        Bạn có thể xem và tải về đầy đủ.
                                    </div>
                                }
                            }
                        </figure>

                    </div>

                    <div class="wrap__article-detail-title">
                        <h1>
                            @Model.Title
                        </h1>

                    </div>
                    <hr>
                    <div class="wrap__article-detail-info">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <span class="text-dark text-capitalize ml-1">
									@Model.CreatedAt.ToString("dd MMMM yyyy"),
                                </span>
                            </li>

                            <li class="list-inline-item">
                                <a href="/category?categoryId=@Model.Category?.Id">
                                    @Model.Category?.Name,
                                </a>
                            </li>

                            <li class="list-inline-item">
                                <span class="mr-1 ml-1">
                                    <i class="fa fa-eye"></i> @(Model.View ?? 0)
                                </span>
                            </li>

                            <li class="list-inline-item">
                                <span class="mr-1 ml-1">
                                    <i class="fa fa-download"></i> @(Model.Download ?? 0)
                                </span>
                            </li>




                            @if (Model.IsFree == false)
                            {
                                <li class="list-inline-item tag__">
                                    <span class="mr-1 ml-1">
                                        <i class="fa fa-money"></i> @string.Format("{0:N0}₫", Model.Price ?? 0)
                                    </span>
                                </li>

                                @if (Convert.ToDecimal(ViewBag.PercentPaid ?? 0) < 100)
                                {
                                    <li class="list-inline-item tag__ cursor-pointer">
                                        <span class="mr-1 ml-1 btn-checkout">
                                             Thanh toán ngay hoặc từng phần
                                        </span>
                                    </li>
                                }
                            }

                        </ul>

                    </div>



                    <hr>
                    <div class="wrap__article-detail-content">
                        <p class="has-drop-cap-fluid">
                            @Model.Description
                        </p>
                    </div>

                    <hr>
                    <div class="wrap__article-detail-info">
                        <div class="row">
                            <div class="col-12 col-md-6 mb-4">
                                <figure class="text-center">
                                    <img src="@($"{Context.Request.Scheme}://{Context.Request.Host}/documents/document-{Model.Id}/qr-view.png")"
                                         alt="QR Xem tài liệu" class="img-fluid" style="max-width: 200px;" />
                                    <figcaption class="mt-2 font-weight-bold">QR Xem tài liệu</figcaption>
                                </figure>
                            </div>

                            @if (Model.IsFree || ViewBag.PercentPaid != null)
                            {
                                <div class="col-12 col-md-6 mb-4">
                                    <figure class="text-center">
                                        <img src="@($"{Context.Request.Scheme}://{Context.Request.Host}/documents/document-{Model.Id}/qr-download.png")"
                                             alt="QR Tải tài liệu" class="img-fluid" style="max-width: 200px;" />
                                        <figcaption class="mt-2 font-weight-bold">QR Tải tài liệu</figcaption>
                                    </figure>
                                </div>
                            }
                        </div>
                    </div>


                </div>

                <div class="blog-tags d-block">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <i class="fa fa-tag"></i> </li>
                        <li class="list-inline-item">
                            <a class="tag__ text-white">
                                @(Model.IsFree ? "Miễn phí" : "Có phí")
                            </a>
                        </li>
                    </ul>
                </div>


                <div class="blog-tags d-block">
                    @{
                        var authors = Model.DocumentAuthors
                        .Where(x => x.Author != null)
                        .Select(x => x.Author)
                        .ToList();
                    }

                    @if (authors.Any())
                    {
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <i class="fa fa-user"></i> </li>
                            @foreach (var author in authors)
                            {
                                <li class="list-inline-item">
                                    <a class="bg-primary text-white" href="/author/@author.Id">
                                        #@author.Name
                                    </a>
                                </li>
                            }
                        </ul>
                    }
                </div>


                <div class="blog-tags">
                    @{
                        var allCategories = ViewBag.AllCategories as List<thuvienso.Models.Category>;
                    }

                    @if (allCategories != null && allCategories.Any())
                    {
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <i class="fa fa-tags"></i>
                            </li>
                            @foreach (var category in allCategories)
                            {
                                var isCurrent = category.Id == Model.CategoryId;
                                var cssClass = isCurrent ? "bg-primary text-white px-2" : "";
                                <li class="list-inline-item">
                                    <a href="/category?categoryId=@category.Id" class="@cssClass">
                                        #@category.Name
                                    </a>
                                </li>
                            }
                        </ul>
                    }

                </div>

            </div>
            <div class="col-md-4">
                <aside class="wrapper__list__article">
                    <div class="wrapper__list__article-small">
                        <div class="wrapper__list__article-small">

                            @{
                                var popularDocs = ViewBag.PopularDocs as List<thuvienso.Models.Document>;
                            }

                            @if (popularDocs != null)
                            {
                                foreach (var doc in popularDocs)
                                {
                                    // Chuyển đổi thời gian danh sách bài viết phổ biến từ UTC sang giờ Việt Nam
									DateTime docCreatedAtVn = doc.CreatedAt;
                                    <div class="item mb-3">
                                        <div class="card__post card__post-list">
                                            <div class="image-sm">
                                                <a href="/document/@doc.Id">
                                                    <img src="@(!string.IsNullOrEmpty(doc.Thumb) ? doc.Thumb : "/images/thumb/default.jpg")" class="img-fluid" alt="@doc.Title" />
                                                </a>
                                            </div>

                                            <div class="card__post__body">
                                                <div class="card__post__content">
                                                    <div class="card__post__author-info mb-2">
                                                        <ul class="list-inline">
                                                            <li class="list-inline-item">
                                                                <span class="text-primary">
                                                                    @(string.Join(", ", doc.DocumentAuthors.Select(x => x.Author.Name)))
                                                                </span>
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <span class="text-dark text-capitalize">
                                                                    @docCreatedAtVn.ToString("dd/MM/yyyy")
                                                                </span>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                    <div class="card__post__title">
                                                        <h6>
                                                            <a href="/document/@doc.Id">
                                                                @doc.Title
                                                            </a>
                                                        </h6>
                                                        <div class="tag__">
                                                            @(doc.IsFree ? "Miễn phí" : "Có phí")
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            </div>

                        </div>
                    </div>
                </aside>

            </div>
            <div class="clearfix"></div>

        </div>

    </div>
</section>
@section Scripts {
	<script>
        function showCustomToast(message = "Thành công!", type = "success") {
            const wrapper = document.getElementById('custom-toast');
            const toast = wrapper.querySelector('.toast');
            const text = document.getElementById('custom-toast-message');

            text.textContent = message;
            toast.className = `toast show text-white bg-${type}`;
            wrapper.style.display = 'block';

            setTimeout(hideCustomToast, 5000);
        }

		function hideCustomToast() {
			document.getElementById('custom-toast').style.display = 'none';
		}

		// Copy dạng văn bản
		function copyTextToClipboard(text) {
			const temp = document.createElement("textarea");
			temp.value = text;
			temp.style.position = "fixed";
			temp.style.opacity = "0";
			document.body.appendChild(temp);
			temp.select();
			document.execCommand("copy");
			document.body.removeChild(temp);
		}

		// Click xử lý toast + copy
		document.addEventListener('DOMContentLoaded', () => {
			document.querySelectorAll('.btn-toast').forEach(btn => {
				btn.addEventListener('click', async () => {
					const message = btn.getAttribute('data-noti') || "Thành công!";
					const type = btn.getAttribute('data-type') || "success";
					const copy = btn.getAttribute('data-copy');
                    const download = btn.getAttribute('data-download');

                    if (download) {
                        const link = document.createElement('a');
                        link.href = download;
                        link.download = "";
                        document.body.appendChild(link);
                        link.click();
                        document.body.removeChild(link);
                    }

					if (copy) {
						copyTextToClipboard(copy);
						showCustomToast(message, type);
					} else {
						showCustomToast(message, type);
					}
				});
			});
		});
	</script>
	<script>
		window.percentAlreadyPaid = @(ViewBag.PercentPaid ?? 0);

		document.addEventListener("DOMContentLoaded", function () {
			const basePrice = parseFloat('@Model.Price') || 0;
			const documentId = '@Model.Id';
			let orderCode = '';

			const displayPrice = document.getElementById('calculated-price');
			const qrImage = document.getElementById('qrPaymentImage');
			const btnCreate = document.getElementById('btn-create-order');
			const countdownBox = document.getElementById('countdown-box');
			const countdownText = document.getElementById('countdown');

			const btnCancelProcess = document.getElementById('btn-cancel-payment-process');
			const cancelWrapper = document.getElementById('cancel-payment-wrapper');
			const btnCancelOrderBeforeCreated = document.getElementById('btn-cancel-order');

			let selectedPercent = 100;
			let antiSpamInterval;      // Đếm ngược 3 giây chống spam click lúc nhấn Tạo đơn
			let payosCountdownInterval; // Đồng hồ đếm ngược 15 phút thực tế của PayOS
			let antiSpamSeconds = 3;

			// Hàm xử lý đếm ngược 15 phút của cổng PayOS
			function startPayOSCountdown(durationInSeconds) {
				if (payosCountdownInterval) clearInterval(payosCountdownInterval);

				let timer = durationInSeconds;

				payosCountdownInterval = setInterval(function () {
					let minutes = parseInt(timer / 60, 10);
					let seconds = parseInt(timer % 60, 10);

					minutes = minutes < 10 ? "0" + minutes : minutes;
					seconds = seconds < 10 ? "0" + seconds : seconds;

					// Cập nhật text trực tiếp vào nút hủy
					btnCancelProcess.innerText = `Hủy thanh toán ${minutes}:${seconds}`;

					if (--timer < 0) {
						clearInterval(payosCountdownInterval);
						btnCancelProcess.innerText = "Hủy thanh toán 00:00";
						btnCancelProcess.disabled = true;

						alert("Đơn hàng của bạn đã quá thời gian 15 phút quy định. Hệ thống sẽ đóng giao dịch và đặt lại trạng thái.");
						// Đóng modal và reset UI sạch sẽ
						$('#payModal').modal('hide');
						resetPaymentModalUI();
					}
				}, 1000);
			}

			// Hàm dọn dẹp và đặt lại trạng thái Modal UI về ban đầu
			function resetPaymentModalUI() {
				if (antiSpamInterval) clearInterval(antiSpamInterval);
				if (payosCountdownInterval) clearInterval(payosCountdownInterval);

				qrImage.src = "";
				qrImage.style.display = "none";
				cancelWrapper.style.display = "none";
				countdownBox.style.display = "none";

				btnCreate.disabled = false;
				btnCancelProcess.disabled = false;
				btnCancelProcess.innerText = "Hủy thanh toán 15:00";

				// 1. Reset giao diện (bỏ active các nút khác, add active cho nút 100%)
				document.querySelectorAll('#percent-buttons .btn').forEach(btn => btn.classList.remove('active'));
				document.querySelector('#percent-buttons input[value="100"]').parentNode.classList.add('active');

				// 2. Reset giá trị logic (tick chọn lại radio 100% ngầm)
				document.querySelector('#percent-buttons input[value="100"]').checked = true;
			}

			// Hàm gọi API tạo đơn thanh toán
			async function createPayment(percent) {
				try {
					const response = await fetch("/payment/create", {
						method: "POST",
						body: new URLSearchParams({
							documentId: documentId,
							percent: percent
						})
					});

					const result = await response.json();
					if (result.success) {
						orderCode = result.data.orderCode;
						qrImage.src = result.data.qrCode;
						qrImage.style.display = "block";
						cancelWrapper.style.display = "block";

						// Kích hoạt đồng hồ đếm ngược 15 phút của PayOS (15 phút = 900 giây)
						startPayOSCountdown(900);
					} else {
						alert("Không tạo được đơn thanh toán.");
						btnCreate.disabled = false;
					}
				} catch (err) {
					console.error("❌ Exception:", err);
					alert("Đã xảy ra lỗi khi tạo đơn.");
					btnCreate.disabled = false;
				}
			}

			// Sự kiện click nút kích hoạt thanh toán .btn-checkout
			document.querySelectorAll(".btn-checkout").forEach(payBtn => {
				payBtn.addEventListener("click", function () {
					selectedPercent = 100;
					const alreadyPaid = window.percentAlreadyPaid || 0;
					const remainingPercent = 100 - alreadyPaid;
					const amount = Math.round(basePrice * remainingPercent / 100);

					displayPrice.textContent = amount.toLocaleString('vi-VN');
					resetPaymentModalUI();
					$('#payModal').modal('show');
				});
			});

			// Gán sự kiện chọn radio phần trăm lũy tiến
			document.querySelectorAll('#percent-buttons label').forEach(label => {
				const radio = label.querySelector('input[type="radio"]');
				if (!radio) return;

				if (parseInt(radio.value) <= window.percentAlreadyPaid) {
					radio.disabled = true;
					label.classList.add('disabled');
					label.style.opacity = 0.5;
					return;
				}

				label.addEventListener("click", function () {
					const price = this.getAttribute('data-price');
					displayPrice.textContent = parseInt(price).toLocaleString('vi-VN');
					selectedPercent = parseInt(radio.value);

					document.querySelectorAll('#percent-buttons .btn').forEach(btn => btn.classList.remove('active'));
					label.classList.add('active');
				});
			});

			// Click nút Tạo đơn hàng (Đếm ngược 3 giây chống click spam rồi mới gọi API)
			if (btnCreate) {
				btnCreate.addEventListener("click", function () {
					btnCreate.disabled = true;
					antiSpamSeconds = 3;
					countdownText.textContent = antiSpamSeconds;
					countdownBox.style.display = "block";

					antiSpamInterval = setInterval(() => {
						antiSpamSeconds--;
						countdownText.textContent = antiSpamSeconds;
						if (antiSpamSeconds <= 0) {
							clearInterval(antiSpamInterval);
							countdownBox.style.display = "none";
							createPayment(selectedPercent);
						}
					}, 1000);
				});
			}

			// Hủy tạo đơn hàng khi đang trong thời gian đếm ngược 3 giây chờ
			if (btnCancelOrderBeforeCreated) {
				btnCancelOrderBeforeCreated.addEventListener("click", function () {
					if (antiSpamInterval) clearInterval(antiSpamInterval);
					countdownBox.style.display = "none";
					btnCreate.disabled = false;
				});
			}

			// Thực hiện hủy đơn chủ động từ phía khách hàng thông qua nút bấm
			if (btnCancelProcess) {
				btnCancelProcess.addEventListener("click", async function () {
					const isConfirmed = confirm("Bạn có chắc chắn muốn hủy đơn thanh toán này không?");
					if (isConfirmed) {
						try {
							btnCancelProcess.disabled = true;
							btnCancelProcess.innerText = "Đang hủy...";

							const response = await fetch('/payment/cancel', {
								method: 'POST',
								body: new URLSearchParams({ orderCode: orderCode })
							});

							const result = await response.json();
							if (result.success) {
								$('#payModal').modal('hide');
								resetPaymentModalUI();
								console.log("Đã hủy thanh toán thành công trên server");
							} else {
								alert("Hủy thất bại: " + (result.message || "Lỗi không xác định"));
								btnCancelProcess.disabled = false;
							}
						} catch (error) {
							console.error("Lỗi kết nối:", error);
							alert("Có lỗi xảy ra khi kết nối tới server.");
							btnCancelProcess.disabled = false;
						}
					}
				});
			}

			// Tự động giải phóng các Interval khi modal bị đóng thủ công bằng dấu X
			$('#payModal').on('hidden.bs.modal', function () {
				resetPaymentModalUI();
			});
		});
	</script>
	<script>
		// 1. Khởi tạo kết nối tới Hub
		var userId = '@Context.Session.GetInt32("UserId")'; // Lấy ID từ session ở phía Server
		var connection = new signalR.HubConnectionBuilder()
			.withUrl("/paymentHub?userId=" + userId) // Gửi userId qua URL
			.build();

		// 2. Lắng nghe tín hiệu từ Server gửi về cho riêng mình
		connection.on("ReceivePaymentUpdate", function (data) {
			// Lấy mã OrderCode của lượt quét hiện tại đang hiển thị trên giao diện của khách
			const currentDocumentId = '@Model.Id';
			var status = data.status;
			var documentId = data.documentId;
			if(documentId == currentDocumentId){
				if (data.status == "paid") {
					alert("Thanh toán thành công! Hệ thống đang tải lại tài liệu...");
					window.location.reload();
				} else if (data.status == "canceled") {
					// Nếu đơn bị huỷ (do quá hạn chẳng hạn)
					alert("Đơn hàng đã được huỷ...");
					$('#payModal').modal('hide');
				}else {
					alert("Đã có lỗi xảy ra. Vui lòng kiểm tra lại...");
				}
			}

		});

		// 3. Bắt đầu kết nối
		connection.start().catch(function (err) {
			return console.error(err.toString());
		});
	</script>
}
<div class="modal fade" id="payModal" tabindex="-1" role="dialog"
     aria-labelledby="payModalLabel" aria-hidden="true"
     data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content border-0 rounded-lg overflow-hidden">
      <div class="modal-header d-flex align-items-center justify-content-between border-0 px-3 py-2">
        <h5 class="modal-title font-weight-bold text-center m-0 w-100" id="payModalLabel" style="font-size: 1.25rem;">
          Quét mã QR để thanh toán
        </h5>
        <button type="button" class="close m-0" data-dismiss="modal" aria-label="Đóng">
          <span aria-hidden="true" style="font-size: 2rem; color: var(--primary);">×</span>
        </button>
      </div>

      <div class="modal-body d-flex flex-column align-items-center justify-content-center px-4 pt-3 pb-4">

        <div class="mb-3 w-100 text-center">
            <p class="mb-2 font-weight-semibold" style="font-size: 1rem;">Chọn mức thanh toán trước:</p>
			<div id="percent-buttons" class="btn-group btn-group-toggle" data-toggle="buttons">
				<!-- Mốc 25% -->
				<label class="btn btn-outline-primary px-3 py-1" data-price="@ViewBag.Price25">
					<input type="radio" name="paymentPercent" value="25" autocomplete="off"> 25%
				</label>
				<!-- Mốc 50% -->
				<label class="btn btn-outline-primary px-3 py-1" data-price="@ViewBag.Price50">
					<input type="radio" name="paymentPercent" value="50" autocomplete="off"> 50%
				</label>
				<!-- Mốc 100% -->
				<label class="btn btn-outline-primary px-3 py-1 active" data-price="@ViewBag.Price100">
					<input type="radio" name="paymentPercent" value="100" autocomplete="off" checked> 100%
				</label>
			</div>


			<p class="mt-3 mb-1 font-weight-medium" style="font-size: 1rem;">
				<strong>Thành tiền:</strong>
				<span id="calculated-price" class="text-primary" style="font-weight: 600;">@ViewBag.Price100.ToString("N0")</span>₫
			</p>


            <div id="create-order-wrapper" class="text-center mt-3">
              <button id="btn-create-order" class="btn btn-primary">Tạo đơn thanh toán</button>

              <div id="countdown-box" class="mt-2" style="display: none;">
                <p>Đơn hàng sẽ được tạo sau <span id="countdown">15</span> giây...</p>
                <button id="btn-cancel-order" class="btn btn-sm btn-outline-primary">Huỷ</button>
              </div>
            </div>
          </p>
        </div>

        <img id="qrPaymentImage"
             src=""
             alt="QR thanh toán"
             class="img-fluid mb-3" style="max-width: 260px; display: none;" />

		<div id="cancel-payment-wrapper" class="text-center mb-3" style="display: none;">
			<button id="btn-cancel-payment-process" class="btn btn-sm btn-outline-danger">
				Hủy thanh toán 15:00
			</button>
		</div>

        <p class="text-muted text-center mb-0" style="font-size: 0.9rem;">
          Vui lòng quét mã để thanh toán và chờ xác nhận tự động.
        </p>
      </div>
    </div>
  </div>
</div>
