@{
    ViewData["Title"] = "Trang Sửa Người Dùng";
    Layout = "~/Views/Shared/Admin/_Layout.cshtml";
}
@model thuvienso.Models.User

<div class="app-content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6"><h3 class="mb-0">Sửa Người Dùng</h3></div>
        </div>
    </div>
</div>

<div class="app-content">
    <div class="container-fluid">
        <form method="post" class="row" autocomplete="off">
            <div class="col-12">
                <div class="card card-primary">
                    <div class="card-body">
                        <div class="form-group mt-3">
                            <label for="name">Họ tên</label>
                            <input type="text" id="name" name="name" class="form-control"
                                   required maxlength="255" pattern=".*[A-Za-zÀ-ỹ].*"
                                   placeholder="Tên không được để trống hoặc chỉ chứa số."
                                   value="@Model.Name" />
                            @if (!ViewData.ModelState.IsValid && ViewData.ModelState["Name"]?.Errors.Count > 0)
                            {
                                <div class="text-danger">@ViewData.ModelState["Name"].Errors[0].ErrorMessage</div>
                            }
                        </div>

                        <div class="form-group mt-3">
                            <label for="newPassword">Mật khẩu mới <small class="text-muted">(bỏ trống nếu không đổi)</small></label>
                            <input type="password" id="newPassword" name="newPassword" class="form-control"
                                   maxlength="255" placeholder="Nhập mật khẩu mới nếu muốn đổi" />
                        </div>

                        <div class="form-group mt-3">
                            <label for="confirmNewPassword">Xác nhận mật khẩu mới</label>
                            <input type="password" id="confirmNewPassword" name="confirmNewPassword" class="form-control"
                                   maxlength="255" placeholder="Nhập lại mật khẩu mới" />
                        </div>

                        <div class="form-group mt-3">
                            <label for="role">Vai trò</label>
                            <select name="role" id="role" class="form-control" required>
                                <option value="user" selected="@(Model.Role == UserRole.user ? "selected" : null)">User</option>
                                <option value="admin" selected="@(Model.Role == UserRole.admin ? "selected" : null)">Admin</option>
                            </select>
                            @if (!ViewData.ModelState.IsValid && ViewData.ModelState["Role"]?.Errors.Count > 0)
                            {
                                <div class="text-danger">@ViewData.ModelState["Role"].Errors[0].ErrorMessage</div>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 mt-3 text-end">
				<a keep-filter href="/admin/user" class="btn btn-secondary">Huỷ</a>
                <input type="submit" value="Lưu" class="btn btn-success">
            </div>
        </form>
    </div>
</div>
