@model List<thuvienso.Models.Order>
@{
    ViewData["Title"] = "Quản Lý Đơn Hàng";
    Layout = "~/Views/Shared/Admin/_Layout.cshtml";
}

@await Html.PartialAsync("~/Views/Shared/Admin/_Notification.cshtml")

<div class="app-content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h3 class="mb-0">Danh Sách Đơn Hàng</h3>
            </div>
        </div>
    </div>
</div>

<div class="app-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header d-flex flex-wrap">
                        <form method="get" class="card-search mb-2 mt-4" style="flex-basis: 100%">
                            <div class="row g-2 mb-2">
                                <div class="col-3">
                                    <input type="search" name="search" class="form-control"
                                           placeholder="Họ tên,email,sđt,tài liệu,mã đơn..."
                                           value="@ViewBag.Search" />
                                </div>

                                <div class="col-2 form-floating">
                                    <input type="date" class="form-control" id="fromDate" name="fromDate"
                                           value="@ViewBag.FromDate" placeholder="Từ ngày" />
                                    <label for="fromDate">Tạo đơn từ</label>
                                </div>

                                <div class="col-2 form-floating">
                                    <input type="date" class="form-control" id="toDate" name="toDate"
                                           value="@ViewBag.ToDate" placeholder="Đến ngày" />
                                    <label for="toDate">Đến ngày</label>
                                </div>

                                <div class="col-1">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="bi bi-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Khách hàng</th>
                                    <th>Tài liệu</th>
                                    <th>Chi phí gốc</th>
                                    <th>Tạo đơn lúc</th>
                                    <th class="text-center">Thao tác</th>
                                </tr>
                            </thead>
							<tbody>
								@if (ViewBag.Orders != null && ((System.Collections.IEnumerable)ViewBag.Orders).Cast<object>().Any())
								{
									foreach (var o in ViewBag.Orders)
									{
										<tr>
											<td>@o.Id</td>
											<td>
												@o.UserFullName <br />
												<small class="text-muted">@o.Email</small> <br />
												<small class="text-muted">@o.Phone</small>
											</td>
											<td>
												@if (o.DocumentTitle != null)
												{
													<a href="/document/@o.DocumentId" target="_blank">@o.DocumentTitle</a>
												}
												else
												{
													<span class="text-danger">Tài liệu đã bị xóa</span>
												}
											</td>
									
											<td>@String.Format("{0:N0}đ", o.TotalPrice)</td>
											<td>@o.CreatedAt.ToString("dd/MM/yyyy HH:mm")</td>
											<td class="text-center">
												<a href="/admin/order/@o.Id/transactions" class="btn btn-outline-primary btn-sm">Xem chi tiết</a>
											</td>
										</tr>
									}
								}
								else
								{
									<tr>
										<td colspan="10" class="text-center text-muted">Không có đơn hàng nào.</td>
									</tr>
								}
							</tbody>
						</table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
@{
    var q = Context.Request.Query;
    string queryString = "";

    if (!string.IsNullOrEmpty(q["search"]))
        queryString += $"search={q["search"]}&";

    if (!string.IsNullOrEmpty(q["status"]))
        queryString += $"status={q["status"]}&";

    if (!string.IsNullOrEmpty(q["percent"]))
        queryString += $"percent={q["percent"]}&";

    if (!string.IsNullOrEmpty(q["fromDate"]))
        queryString += $"fromDate={q["fromDate"]}&";

    if (!string.IsNullOrEmpty(q["toDate"]))
        queryString += $"toDate={q["toDate"]}&";

    queryString = queryString.TrimEnd('&');
}
@await Html.PartialAsync("~/Views/Shared/Admin/_Pagination.cshtml", new {
CurrentPage = ViewBag.CurrentPage,
    PageSize = ViewBag.PageSize,
    TotalItems = ViewBag.TotalItems,
    QueryString = queryString
})

