@using Microsoft.AspNetCore.Mvc.Rendering
@model thuvienso.Models.Document

@{
    ViewData["Title"] = "Chỉnh sửa tài liệu";
    Layout = "~/Views/Shared/Admin/_Layout.cshtml";
}
@await Html.PartialAsync("~/Views/Shared/Admin/_Notification.cshtml")

<div class="app-content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6"><h3 class="mb-0">Chỉnh sửa tài liệu</h3></div>
        </div>
    </div>
</div>

<div class="app-content">
    <div class="container-fluid">
        <form method="post" enctype="multipart/form-data" class="row">
            <div class="col-12">
                <div class="card card-primary">
                    <div class="card-body">

                        <div class="form-group mt-3">
                            <label for="title">Tiêu đề</label>
                            <input type="text" id="title" name="Title" class="form-control"
                                   required maxlength="255" pattern=".*[A-Za-zÀ-ỹ].*"
                                   placeholder="Không được để trống hoặc chỉ toàn số."
                                   value="@Model.Title" />
                            @if (!ViewData.ModelState.IsValid && ViewData.ModelState["Title"]?.Errors.Count > 0)
                            {
                                <div class="text-danger">@ViewData.ModelState["Title"].Errors[0].ErrorMessage</div>
                            }
                        </div>

                        <div class="form-group mt-3">
                            <label for="description">Mô tả</label>
                            <textarea id="description" name="Description" class="form-control"
                                      maxlength="1000" placeholder="Nhập mô tả tài liệu (tuỳ chọn)">@Model.Description</textarea>
                            @if (!ViewData.ModelState.IsValid && ViewData.ModelState["Description"]?.Errors.Count > 0)
                            {
                                <div class="text-danger">@ViewData.ModelState["Description"].Errors[0].ErrorMessage</div>
                            }
                        </div>

                        <div class="form-group mt-3">
                            <label for="categoryId">Danh mục</label>
                            <select id="categoryId" name="CategoryId" class="form-control select2" required>
                                <option value="">-- Chọn danh mục --</option>
                                @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.Categories)
                                {
                                    var selected = (item.Value == Model.CategoryId.ToString()) ? true : false;
                                    <option value="@item.Value" selected="@selected">@item.Text</option>
                                }
                            </select>
                            @if (!ViewData.ModelState.IsValid && ViewData.ModelState["CategoryId"]?.Errors.Count > 0)
                            {
                                <div class="text-danger">@ViewData.ModelState["CategoryId"].Errors[0].ErrorMessage</div>
                            }
                        </div>

                        <div class="form-group mt-3">
                            <label for="publisherId">Nhà xuất bản</label>
                            <select id="publisherId" name="PublisherId" class="form-control select2" required>
                                <option value="">-- Chọn nhà xuất bản --</option>
                                @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.Publishers)
                                {
                                    var selected = (item.Value == Model.PublisherId?.ToString()) ? true : false;
                                    <option value="@item.Value" selected="@selected">@item.Text</option>
                                }
                            </select>
                            @if (!ViewData.ModelState.IsValid && ViewData.ModelState["PublisherId"]?.Errors.Count > 0)
                            {
                                <div class="text-danger">@ViewData.ModelState["PublisherId"].Errors[0].ErrorMessage</div>
                            }
                        </div>

                        <div class="form-group mt-3">
                            <label for="authorIds">Tác giả</label>
                            <select id="authorIds" name="authorIds" class="form-control select2" multiple="multiple" required>
                                @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.Authors)
                                {
                                    var selected = Model.DocumentAuthors.Any(da => da.AuthorId.ToString() == item.Value) ? true : false;
                                    <option value="@item.Value" selected="@selected">@item.Text</option>
                                }
                            </select>
                            @if (!ViewData.ModelState.IsValid && ViewData.ModelState["authorIds"]?.Errors.Count > 0)
                            {
                                <div class="text-danger">@ViewData.ModelState["authorIds"].Errors[0].ErrorMessage</div>
                            }
                        </div>

                        <div class="form-group mt-3">
                            <label for="file">Tài liệu PDF</label>
                            <input type="file" id="file" name="file" class="form-control"
                                   accept=".pdf" />
                            @if (!ViewData.ModelState.IsValid && ViewData.ModelState["file"]?.Errors.Count > 0)
                            {
                                <div class="text-danger">@ViewData.ModelState["file"].Errors[0].ErrorMessage</div>
                            }
                            <small class="form-text text-muted">Nếu không muốn thay đổi file, hãy để trống.</small>
                        </div>

                        <div class="form-group mt-3">
                            <label for="publicDate">Năm xuất bản</label>
                            <input type="date" id="publicDate" name="publicDate" class="form-control" value="@Model.PublicDate.ToString("yyyy-MM-dd")" required />
                        </div>

                        <div class="form-group mt-3">
                            <label for="reprintDate">Năm tái bản</label>
                            <input type="date"
                                   id="reprintDate"
                                   name="reprintDate"
                                   class="form-control"
                                   value="@(Model.ReprintDate?.ToString("yyyy-MM-dd") ?? "")" />
                        </div>

                        <div class="form-group mt-3">
                            <label for="isFree">Loại tài liệu</label>
                            <select name="isFree" class="form-control">
                                <option value="true" selected="@(Model != null && Model.IsFree ? true : false)">Miễn phí</option>
                                <option value="false" selected="@(Model != null && !Model.IsFree ? true : false)">Có phí</option>
                            </select>
                        </div>

                        <div class="form-group mt-3" id="priceInputWrapper">
                            <label for="price">Chi phí tài liệu (VNĐ)(Tuỳ chọn)</label>
                            <input type="number"
                                   id="price"
                                   name="price"
                                   class="form-control"
                                   min="0"
                                   step="1000"
                                   value="@(Model?.Price != null ? Model.Price.Value.ToString("F0") : "")"
                                   placeholder="Nhập chi phí (VND)(Tuỳ chọn)" />
                            <small class="form-text text-muted">Chỉ nhập số, tối thiểu 10.000 VNĐ</small>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-12 mt-3 text-end">
				<a keep-filter href="/admin/document" class="btn btn-secondary">Huỷ</a>
                <input type="submit" value="Lưu" class="btn btn-success" />
            </div>
        </form>

    </div>
</div>
